# YouTube API credentials
YOUTUBE_API_KEY=your_youtube_api_key_here

# FFmpeg configuration
FFMPEG_PATH=C:\Program Files\ffmpeg\ffmpeg-7.1.1-essentials_build\bin

# Spotify API credentials
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback

# SoundCloud API credentials
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id_here
